services:
  mongo:
    image: mongo:7
    container_name: chat-mongo
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

  backend:
    image: alexismendozaa/chat-backend:latest
    container_name: chat-backend
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    restart: unless-stopped

  web:
    image: alexismendozaa/chat-frontend:latest
    container_name: chat-web
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  mongo_data:
